<template>
  <section>
    <div>
      {{this.page}} / {{this.maxPage}}
    </div>
    <div v-if="this.page == 1 && this.maxPage == 1">
    </div>
    <div v-else-if="this.page == 1">
      <b-button-group>
        <b-button tag="a" type="is-info" @click="Next">Next</b-button>
        <b-button tag="a" type="is-info" @click="Last">Last</b-button>
      </b-button-group>
    </div>
    <div v-else-if="this.page == this.maxPage">
      <b-button-group>
        <b-button tag="a" type="is-info" @click="First">First</b-button>
        <b-button tag="a" type="is-info" @click="Previous">Previous</b-button>
      </b-button-group>
    </div>
    <div v-else>
      <b-button-group>
        <b-button tag="a" type="is-info" @click="First">First</b-button>
        <b-button tag="a" type="is-info" @click="Previous">Previous{{ data.page }}</b-button>
        <b-button tag="a" type="is-info" @click="Next">Next{{ data.page }}</b-button>
        <b-button tag="a" type="is-info" @click="Last">Last</b-button>
      </b-button-group>
    </div>
    <div>&nbsp;</div>
    <div>
      <table>
        <tr>
          <td>
            <label for="search">Filter:</label>
            <select v-model="stypeSelected" name="search" id="search">
              <option value="select">Select Filter</option>
              <option value="name">Name</option>
              <option value="type">Type</option>
              <option value="rarity">Rarity</option>
              <option value="set">Set</option>
            </select>
          </td>
          <td>
            <div id="pmblank" v-if="this.stypeSelected == 'select'">
            </div>
            <div id="pmname" v-if="this.stypeSelected == 'name'">
              <input v-model="pname">
            </div>
            <div id="pmtype" v-else-if="this.stypeSelected == 'type'">
              <select v-model="ptypeSelected">
                <option v-for="type in ptype" :value="type.item" :key="type.item">
                  {{ type.item }}
                </option>
              </select>
            </div>
            <div id="pmrarity" v-else-if="this.stypeSelected == 'rarity'">
              <select v-model="praritySelected">
                <option v-for="rarity in prarity" :value="rarity.item" :key="rarity.item">
                  {{ rarity.item }}
                </option>
              </select>
            </div>
            <div id="pmtype" v-else-if="this.stypeSelected == 'set'">
              <select v-model="psetSelected">
                <option v-for="set in pset" :value="set.item" :key="set.item">
                  {{ set.item }}
                </option>
              </select>
            </div>
          </td>
          <td>&nbsp;</td>
          <td>
            <div>
              <b-button tag="a" type="is-info" @click="getCards">Search</b-button>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="row justify-content-center">
      <div class="row justify-content-left">
        <b-row
          class="col-md-3"
          v-for="data in data"
          v-bind:key="data.id"
        >
          <b-col class="col-md-12">
            <table style="font-size:12px">
                <tr>
                  <td width="50%">
                    <img :src="data.images.small"  />
                  </td>
                  <td>
                    &nbsp;
                  </td>
                  <td>
                    <table>
                      <tr>
                        <td>Name: {{ data.name }}{{ data.page }}</td>
                      </tr>
                      <tr>
                        <td>Set: {{data.set.name}}</td>
                      </tr>
                      <tr>
                        <td>Rarity: {{ data.rarity }}</td>
                      </tr>
                      <tr>
                        <td>Level: {{ data.level }}</td>
                      </tr>
                      <tr>
                        <td>HP: {{ data.hp }}</td>
                      </tr>
                      <tr>
                        <td>Attacks:</td>
                      </tr>
                      <tr>
                        <td>
                          <b-row
                            v-for="attacks in data.attacks"
                            v-bind:key="attacks.name"
                          >
                            <table>
                              <tr>
                                <td>{{attacks.name}}</td>
                              </tr>
                            </table>
                          </b-row>
                        </td>
                      </tr>
                      <tr>
                        <td>Resistances:</td>
                      </tr>
                      <tr>
                        <td>
                          <b-row
                            v-for="resistances in data.resistances"
                            v-bind:key="resistances.type"
                          >
                            <table>
                              <tr>
                                <td>{{resistances.type}}</td>
                              </tr>
                            </table>
                          </b-row>
                        </td>
                      </tr>
                      <tr>
                        <td>Weaknesses:</td>
                      </tr>
                      <tr>
                        <td>
                          <b-row
                            v-for="weaknesses in data.weaknesses"
                            v-bind:key="weaknesses.type"
                          >
                            <table>
                              <tr>
                                <td>{{weaknesses.type}}</td>
                              </tr>
                            </table> 
                          </b-row>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
            </table>
          </b-col>
        </b-row>
      </div>
    </div>
  </section>
</template>

<script>
import { SnackbarProgrammatic as Snackbar } from "buefy";

export default {
  data() {
    return {
      data: [],
      isStriped: true,
      isNarrowed: true,
      total: 0,
      loading: false,
      sortField: "id",
      sortOrder: "desc",
      defaultSortOrder: "desc",
      page: 1,
      perPage: 20,
      isPaginated: true,
      isPaginationSimple: false,
      defaultOpenedDetails: [],
      showDetailIcon: true,
      maxPage: 0,
      totalCount: 0,
      mod: 0,
      pname: "",
      stypeSelected: "select",
      ptype: [],
      ptypeSelected: "Select Type",
      prarity: [],
      praritySelected: "Select Rarity",
      pset: [],
      psetSelected: "Select Set",
    };
  },
  methods: {
    viewEntry(id) {
      this.router.push({
        path: `/announcement/${id}`,
      });
    },
    deleteEntry(id) {
      if (confirm("Delete this entry?")) {
        axios
          .delete("/api/announcement/" + id, {
            headers: {
              Authorization: "Bearer " + this.auth_user.api_token,
            },
          })
          .then((response) => {
            Snackbar.open("Entry successfuly deleted");
            this.getEntries();
          })
          .catch((error) => {
            console.log("Error", error);
          });
      }
    },
    toggle(row) {
      this.$refs.table.toggleDetails(row);
    },
    getEntries() {
      const params = [
        `sort_by=${this.sortField}.${this.sortOrder}`,
        `per_page=${this.perPage}`,
        `page=${this.page}`,
      ].join("&");
      this.loading = true;

      axios
        .get(`/api/announcements?${params}`, {
          headers: {
            Authorization: "Bearer " + this.auth_user.api_token,
          },
        })
        .then(({ data }) => {
        console.log(data);
          // api.themoviedb.org manage max 1000 pages
          this.data = [];
          let currentTotal = data.total;
          if (data.total / this.perPage > 1000) {
            currentTotal = this.perPage * 1000;
          }
          this.total = currentTotal;
          data.data.forEach((item) => {
            this.data.push(item);
          });
          this.loading = false;
        })
        .catch((error) => {
          this.data = [];
          this.total = 0;
          this.loading = false;
          throw error;
        });
    },
    getCards() {
    console.log(this.stypeSelected);
      if(this.stypeSelected == "select"){
        this.page = 1;
        this.pname = "";
        this.ptypeSelected = "Select Type";
        this.praritySelected = "Select Rarity";
        this.psetSelected = "Select Set";
      }
      console.log(this.pname);
      const params = [
        `page=${this.page}`,
        `name=${this.pname}`,
        `type=${this.ptypeSelected}`,
        `rarity=${this.praritySelected}`,
        `set=${this.psetSelected}`,
      ].join("&");
      this.loading = true;

      axios
        .get(`/api/cards?${params}`, {
          headers: {
            Authorization: "Bearer " + this.auth_user.api_token,
          },
        })
        .then(({ data }) => {
        console.log(data);
        this.totalCount = data.totalCount;
        console.log(this.totalCount);
        this.maxPage = this.totalCount / 20;
        this.mod = this.totalCount % 20;
        console.log(this.maxPage);
        console.log(this.mod);
        if (parseInt(this.mod) > parseInt(0)) {
          this.maxPage = parseInt(this.maxPage) + 1;
        }
        console.log(this.maxPage);
        console.log(this.mod);
          // api.themoviedb.org manage max 1000 pages
          this.data = [];
          let currentTotal = data.total;
          if (data.total / this.perPage > 1000) {
            currentTotal = this.perPage * 1000;
          }
          this.total = currentTotal;
          data.data.forEach((item) => {
            this.data.push(item);
          });
          this.loading = false;
        })
        .catch((error) => {
          this.data = [];
          this.total = 0;
          this.loading = false;
          throw error;
        });
    },
    getTypes() {
      this.loading = true;

      axios
        .get(`/api/type`, {
          headers: {
            Authorization: "Bearer " + this.auth_user.api_token,
          },
        })
        .then(({ data }) => {
          this.data = [];
          this.ptype = data;
          console.log(this.ptype);
          this.loading = false;
        })
        .catch((error) => {
          this.ptype = [];
          this.loading = false;
          throw error;
        });
    },
    getRarities() {
      this.loading = true;

      axios
        .get(`/api/rarity`, {
          headers: {
            Authorization: "Bearer " + this.auth_user.api_token,
          },
        })
        .then(({ data }) => {
          this.data = [];
          this.prarity = data;
          console.log(this.prarity);
          this.loading = false;
        })
        .catch((error) => {
          this.prarity = [];
          this.loading = false;
          throw error;
        });
    },
    getSets() {
      this.loading = true;

      axios
        .get(`/api/set`, {
          headers: {
            Authorization: "Bearer " + this.auth_user.api_token,
          },
        })
        .then(({ data }) => {
          this.data = [];
          this.pset = data;
          console.log(this.pset);
          this.loading = false;
        })
        .catch((error) => {
          this.pset = [];
          this.loading = false;
          throw error;
        });
    },
    First() {
      this.page = 1;
      this.getCards();
    },
    Previous() {
      this.page = this.page-1;
      this.getCards();
    },
    Next() {
      console.log(this.maxPage);
      console.log(this.stype_selected);

      this.page = this.page+1;
      this.getCards();
    },
    Last() {
      this.page = this.maxPage;
      this.getCards();
    },
  },
  filters: {
    /**
     * Filter to truncate string, accepts a length parameter
     */
    truncate(value, length) {
      return value.length > length ? value.substr(0, length) + "..." : value;
    },
  },
  mounted() {
    this.getTypes();
    this.getRarities();
    this.getSets();
    this.getCards();
  },
  props: ["auth_user"],
  created() {},
};
</script>
